﻿@using System.Data.SqlTypes
@using System.Web.Optimization
@model HotCar.Entities.Trip
@{
    ViewBag.Title = "Підписка на поїздку";
    ViewBag.ModalId = "SignToTripModal";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}


<input type="hidden" id="costOneSeat" value="@System.Math.Truncate(Model.CostOneSeat)">

<div class="commentBox">
	<div id="workingContent" class="text-center">
		<img src="~/Content/images/UserAccount/loading.gif" id="status-image">
		<br/>
		<span id="working-text">йде обробка запиту...</span>
	</div>	
	<div id="applContent">
		<div class="count-places-text no-mg-t no-mg-b">Хочу зарезервувати (місць):</div>
		<br/>
		<div id="select-count-places" class="col-sm-12">
			<div class="col-sm-2">
				<select class="form-control" id="count-places" onchange=" selectChange() ">
					@for (byte i = 1; i < Model.AvailablePlacesCount + 1; i++)
					{
						<option class="bolder">@i</option>
					}
				</select>
			</div>
			&nbsp;
			&nbsp;
			<span id="count-places-view">
				<span class="fa-icon-user" id="count-places-image"></span>
			</span>
		</div>
		<br/>
		<hr class="hr-dashed hr-half"/>
		<div class="center money">
			<div class="input-group center money-group">
				<span class="input-group-addon count-places-text">Пропоную</span>
				<input class="form-control input-lg text-right" id="input-money" type="text" value="@System.Math.Truncate(Model.CostOneSeat)" onkeyup="this.value = this.value.replace (/\D/gi, '').replace (/^0+/, '')">
				<span class="input-group-addon">
					<h3 class="no-mg-t no-mg-b">₴ (грн)</h3>
				</span>
			</div>
		</div>
		<hr class="hr-dashed hr-half"/>
		<div class="btn btn-success" id="btn-assign" onclick='signToTrip("@Model.Id")'>Підписатись</div>
		<br/>
	</div>
	<br/>
</div>

