﻿@using System.Web.Optimization
@using System.Web.UI.WebControls
@using HotCar.Entities
@model HotCar.WebUI.Frontend.Models.UserModel

@{
    ViewBag.Title = "Детальніше про поїздку";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    @Scripts.Render("~/bundles/TripDetail/scripts")
}

@section Styles{
	@Styles.Render("~/Content/jednotka/TripDetail/css")
}

@Html.Partial("SignToTripModal", @Model.Trips[0])
@Html.Partial("Modal/CommentModal", @Model)

<div id="main" role="main">
    <div id="main-content">
        <div class="container">
            <div class='row'>

                <div class="col-md-12 mg-b" style="font-size: 17px;">
                    <span><a href="#" id="toPrevPage"><i class="fa-icon-chevron-left text-contrast"></i> Назад до результатів пошуку</a></span>
                </div>

                <div class='col-sm-7 mg-t'>

                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='panel panel-default mg-b'>

                                <div class='panel-group accordion' id='accordion2'>
                                    <div class='panel panel-default'>

                                        <a id="showMap" class='accordion-toggle collapsed' style="background-color: #eaedf2; color: #434955; font-size: 18px" data-parent='#accordion2' data-toggle='collapse' href='#accordion2-item-2'>
                                            Показати маршрут на карті
                                        </a>

                                        <div class='panel-collapse collapse' id='accordion2-item-2'>
                                            <div class='panel-body' id="map-canvas" style="height: 300px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class='panel-body' style="font-size: 15px;">
                                    <div class="col-md-4">
                                        Місце посадки:
                                    </div>
                                    <div class="col-md-8">
                                        <label style="font-weight: 600">@Model.Trips[0].LocationAddresses[0]</label>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Місце прибуття:
                                    </div>
                                    <div class="col-md-8">
                                        <label style="font-weight: 600">@Model.Trips[0].LocationAddresses[Model.Trips[0].LocationAddresses.Count - 1]</label>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Дата:
                                    </div>
                                    <div class="col-md-8">
                                        <span><label style="font-weight: 600">@Model.Trips[0].TripTime.ToShortDateString()</label></span>
                                    </div>

                                    <div class="row" style="margin-top: 30px;"></div>

                                    <div class="col-md-4">
                                        Час відправлення:
                                    </div>
                                    <div class="col-md-8">
                                        <span><label style="font-weight: 600">@Model.Trips[0].TripTime.ToString("t")</label></span>
                                    </div>

                                    <div class="row" style="margin-top: 40px;"></div>

                                    @if (Model.Trips[0].AdditionalInfo != null)
                                    {
                                        <div class="col-md-12 panel panel-default panel-contrast no-mg-b" style="padding-bottom: 5px;">
                                            <div><h4>Додаткова інформація</h4></div>
                                            @Model.Trips[0].AdditionalInfo
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='col-sm-5 mg-t'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='panel panel-bordered'>
                                <div class='panel-body'>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h1 class="no-mg-t no-mg-b">@Decimal.ToInt32(@Model.Trips[0].CostOneSeat) ₴</h1>
                                        </div>
                                        <div class="col-md-2">
                                            з пасажира
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <hr class="no-mg-b no-mg-t">
                                    </div>
                                    <div class="row">
                                        <div>
                                            @if (@Model.Trips[0].AvailablePlacesCount > 0)
                                            {
                                                 <div class="col-md-1">
                                                     <h1 class="no-mg-t no-mg-b">@Model.Trips[0].AvailablePlacesCount</h1>
                                                 </div>
                                                <div class="col-md-2">
                                                    місць залишилось
                                                </div>
                                            } else
                                            {
                                                <div class="col-md-3 text-center">
                                                    <h4>ЗАПОВНЕНИЙ</h4> 
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            @for (var x = 0; x < @Model.Trips[0].AvailablePlacesCount; ++x)
                                            {
                                                <div class="col-md-1">
                                                    <div class="icon-wrap icon icon-lg" style="">
                                                        <i class="fa-icon-user no-mg-b"></i>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr class="no-mg-b no-mg-t">
                                    </div>

                                    <div class='row mg-t'>
										<div class='col-sm-12 text-center'>
											@{
                                                if (Model.Trips[0].Driver.Login == User.Identity.Name)
												{
													<span class="fa-icon-compass signed-text-ok"></span>
													<span class="signed-text-ok"> Ви є водієм цієї поїздки </span>
												}
												else
                                                {
                                                    Passenger currentPassenger = Model.Trips[0].Passangers.FirstOrDefault(p => String.Compare(p.UserInfo.Login, User.Identity.Name, true) == 0);
													<div class='panel-group accordion' id='accordion3'>
														<div class='panel panel-default'>
															<a id="showDriverContacts" class='accordion-toggle collapsed' style="background-color: #eaedf2; color: #434955; font-size: 18px" data-parent='#accordion3' data-toggle='collapse' href='#driver-detail'>
																Зв'язатись з водієм
															</a>
															<div class='panel-collapse collapse' id='driver-detail'>
																<div class='panel-body'>
																	@if (String.Compare(Model.Trips[0].Driver.Login, User.Identity.Name, true) == 0)
																	{
																		<span class="fa-icon-compass signed-text-ok"></span>
																		<span class="signed-text-ok"> Ви є водієм цієї поїздки </span>
																	}
																	else
																	{
																		if (Model.Trips[0].AvailablePlacesCount > 0 || currentPassenger != null)
																		{
																			<span>Телефон: </span>
																			<label>@Model.Trips[0].Driver.Phone</label>
																			<br>
																			<span>e-mail: </span>
																			<label>@Model.Trips[0].Driver.Mail</label>
																			<br/>
																			<br/>
																		}

																		if (currentPassenger != null)
																		{
																			if (currentPassenger.IsConfirmed)
																			{
																				<span class="fa-icon-ok signed-text-ok"></span>
																				<span class="signed-text-ok"> водій підтвердив вашу заявку </span>
																			}
																			else
																			{
																				<span class="fa-icon-time signed-text-wait"></span>
																				<span class="signed-text-wait"> очікується підтвердження від водія </span>
																			}
																		}
																		else
																		{
																			if (Model.Trips[0].AvailablePlacesCount > 0)
																			{
																				<a class="btn btn-contrast btn-bordered" id="btn_SignToTrip">Подати заявку</a>
																			}
																			else
																			{
																				<div class="text-left">
																					Всі місця вже зайняті, більше немає можливості зв'язатися з водієм.
																				</div>
																				<div>
																					<a href='@Url.Action("Index")'>Шукати іншу поїздку <i class="fa-icon-chevron-right text-contrast"></i></a>
																				</div>
																			}
																		}
																}
																</div>
															</div>
														</div>
													</div>
				                                }
				                            }
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col-lg-12 mg-t'>
                            <div class='panel panel-bordered'>
                                <div class='panel-heading text-center'>
                                <label style="font-size: 15px;">
                                Водій 
								@if (String.Compare(Model.Trips[0].Driver.Login, User.Identity.Name, true) == 0)
								{
									<span> ( це Ви ) </span>
								}
								</label>
                                </div>
                                <div class='panel-body'>
                                    <div class="col-md-5">
                                       
                                        <img alt="@Model.Trips[0].Driver.FirstName" width="100" height="100" class="img-circle img-responsive" src="@Url.Action("UserPhoto", "Account", new { login = @Model.Trips[0].Driver.Login })" />
                                       
                                    </div>
                                    <div class="col-md-7" style="font-size: 15px;">
                                        <span>@Model.Trips[0].Driver.FirstName @Model.Trips[0].Driver.SurName[0]</span>
                                        @if (@Model.Trips[0].Driver.Birthday != null)
                                        { 
                                            <p>вік: @Model.Trips[0].Driver.Age</p>
                                        }
                                        <div style="margin-top: 30px;">
                                            <div class='links'>                                                
                                                <a id="btn-show-modal" href='#' onclick='DriverComments("@Model.Trips[0].Driver.Login","@Model.UserInfo.Login")'>
                                                    <i class='fa-icon-comment text-contrast'></i> Відгуки
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fade" id="scroll-to-top">
            <i class="fa-icon-chevron-up"></i>
        </div>
    </div>
</div>

@for (var i = 0; i < Model.Trips[0].LocationAddresses.Count; ++i)
{
    <input type="hidden" id='hiddenWayPoint @i' value="@Model.Trips[0].LocationAddresses[i]" />
}