﻿@using System.Web.Optimization
@model HotCar.WebUI.Frontend.Models.LoginModel

@{
    ViewBag.Title = "Увійти";  
}

@section Styles{
    @Styles.Render("~/Content/jednotka/login/css")
}
@section Scripts{
    @Styles.Render("~/bundles/Login/scripts")
}

<div id="main" role="main">
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>
                        <strong>Будьте ласкаві, авторизуйтесь</strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box mg-b">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Увійдіть на наш сайт</h3>
                            <p>Введіть свій логін і пароль:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl, @class = "login-form", id = "LoginForm"}))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(u => u.UserName, new {@class = "form-control", placeholder = "Логін...", name = "form-username", required="true"})
                                @Html.ValidationMessageFor(u => u.UserName, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(u => u.Password, new { @class = "form-control", name = "form-password", placeholder = "Пароль...", required = "true" })
                                @Html.ValidationMessageFor(u => u.Password, null, new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true)
                            <button class='btn btn-contrast btn-block' type='submit'>
                                Увійти!
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade" id="scroll-to-top">
        <i class="fa-icon-chevron-up"></i>
    </div>
</div>





