﻿
@{
    Layout = "../Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "401 | Доступ заборонено";
}

<div class='row'>
    <div class='col-sm-12'>
        <h1 class='code fadeInDown animated'>
            <span>4</span>
            <span class='fa-icon-exclamation-sign'></span>
            <span>1</span>
        </h1>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <p class='message fadeInLeft animated'>
            Sorry, Access is denied due to invalid credentials.
            <br>
            Take a run around the block or tap the button below.
        </p>
        <a class="btn btn-bordered btn-white btn-lg fadeInRight animated" href="@Url.Action("Index", "Home")">Go to homepage</a>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <a href='@Url.Action("Index", "Home")'>
            <img class="logo fadeInUp animated" alt="HotCar" width="117" height="39" src="@Url.Content("~/Content/images/HotCarLogo.gif")" />
        </a>
    </div>
</div>
