﻿@model HotCar.WebUI.Frontend.Models.UserModel
@{
    ViewBag.Title = "Налаштування";
    ViewBag.ModalId = "SurNameSettings";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="detailBox">
	<div class="panel-item">
		<div class="panel panel-big">
			<div class="panel-icon">
				<i class="fa-icon-certificate"></i>
			</div>
			<div class="panel-body">
			    <h3 class="panel-title">
			        <span id="surNameSpan">
                        @Model.UserInfo.SurName
                    </span>
			    </h3>
				<p class="text-contrast">Нове прізвище:</p>
				<br/>
				<div class="form-group control-group">
					<input class="form-control" data-rule-required="true" id="contact_surname" name="contact[name]" placeholder="Прізвище" type="text">
                    <label id="contact_surname_error" class="hidden">Невірне прізвище</label>
				</div>
				<br/>
				<button class="btn btn-contrast btn-bordered col-sm-4" onclick="changeSurName();">Змінити</button>
			</div>
		</div>
	</div>
</div>

