﻿@using System.Web.Optimization

@section Scripts{
    @Scripts.Render("~/bundles/HomePage/scripts")
    <script src="~/Scripts/Pages/Home/how_it_works.js"></script>
}

@{
    ViewBag.Title = "Спільні поїздки - Як це працює";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div id='main' role='main'>
    <div id='main-content-header'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <h1 class='title'>
                        Як це працює
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='box'>
                        <div class='list-group'>
                            <a class="list-group-item  active" href=@Url.Action("HowItWorks", "Home")>
                                <i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                                Як працює HotCar
                            </a>

                            <a class="list-group-item" href=@Url.Action("FAQ", "Home")>
                                <i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                                Запитання та відповіді
                            </a>

                        </div>
                    </div>
                </div>
                <div class='col-md-9'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs' id='tab'>
                            <li class='active'>
                                <a data-toggle='tab' href='#tab-content-1' style="width: 420.5px;">
                                    <span style="font-size: 22px; font-weight: 600;">Плануєте поїздку?</span> <br>
                                    <i class='fa-icon-angle-right'></i> Знайдіть надійного водія, якому по дорозі
                                </a>
                            </li>
                            <li>
                                <a data-toggle='tab' href='#tab-content-2' style="width: 424px; margin-right: 0px">
                                    <span style="font-size: 22px; font-weight: 600;">Є вільні місця?</span> <br>
                                    <i class='fa-icon-angle-right'></i> Запропонуйте поїздку пасажирам
                                </a>
                            </li>

                        </ul>
                        <div class='tab-content' id='tab-content'>
                            <div class='tab-pane fade in active' id='tab-content-1'>

                                <div class="col-md-10 col-md-offset-1 mg-b">

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 50px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-search'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Знайдіть поїздку
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Просто вкажіть місто відправлення, прибуття і дату, щоб побачити список водіїв,
                                        які пропонують поїздки по вашому маршруту, та обрати свого.
                                    </span>

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 80px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-ok'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Зв'яжіться з водієм
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Натисніть на кнопку "Зв'язатися з водієм" і надішліть водієві приватне повідомлення, щоб забронювати місце.
                                        Після цього вам також стане доступний його номер телефону. Перед тим як зв'язуватися, ви можете перевірити профіль водія з фотографією,
                                        короткою інформацією "про себе" та відгуками.
                                    </span>

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 80px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-group'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Подорожуйте разом
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Будьте вчасно в запланованому місці зустрічі! Не забудьте взяти з собою необхідну кількість грошей,
                                        щоб сплатити водієві узгоджену суму під час поїздки
                                    </span>

                                </div>

                            </div>
                            <div class='tab-pane fade' id='tab-content-2'>

                                <div class="col-md-10 col-md-offset-1 mg-b">

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 50px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-plus'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Запропонуйте свою поїздку
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Просто вкажіть ваш маршрут, дату і час відправлення, і вартість місця для пасажира.
                                    </span>

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 80px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-ok'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Пасажири зв'язуються з вами
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Щоб узгодити деталі поїздки, пасажири зв'яжуться з вами за допомогою приватних повідомлень.
                                    </span>

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 80px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-group'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Подорожуйте разом
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Будьте вчасно в запланованому місці зустрічі і обов'язково повідомляйте пасажирів, якщо затримуєтеся.
                                        Ви зможете легко впізнати ваші попутників по фотографіях в їх профілях.
                                    </span>

                                    <div class='page-header page-header-with-icon no-mg-t no-mg-b ' style="margin-top: 80px !important; margin-bottom: 20px !important">
                                        <i class='fa-icon-eur'></i>
                                        <p style="font-size: 26px; font-weight: 500">
                                            Пасажири оплачують поїздку
                                        </p>
                                    </div>

                                    <span class='no-mg-b' style="font-size: 17px;">
                                        Оплата здійснюється пасажирами під час поїздки. Рекомендуємо мати при собі трохи дрібних грошей для здачі.
                                    </span>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>