﻿@using System.Web.Optimization

@model HotCar.WebUI.Frontend.Models.UserModel

@{
    ViewBag.Title = "Кабінет";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/UserAccount/scripts")
    @Scripts.Render("~/bundles/UserAccount/Avatar/scripts")
}

@section Styles{
    @Styles.Render("~/Content/jednotka/UserAccount/css")
    @Styles.Render("~/Content/jednotka/UserAccount/Avatar/css")

}

<link href="~/Content/jednotka/UserAccount/menu-styles.css" rel="stylesheet" />


@Html.Partial("Modals/SettingsModal/PasswordSettings", @Model)
@Html.Partial("Modals/SettingsModal/MailSettings", @Model)
@Html.Partial("Modals/SettingsModal/FirstNameSettings", @Model)
@Html.Partial("Modals/SettingsModal/SurNameSettings", @Model)
@Html.Partial("Modals/SettingsModal/PhoneSettings", @Model)
@Html.Partial("Modals/SettingsModal/BirthdaySettings", @Model)
@Html.Partial("Modals/SettingsModal/AboutMeSettings", @Model)
@Html.Partial("Modals/SettingsModal/AvatarUpload")
@Html.Partial("Modals/ApplyApplModal")
<!--short main information for user-->
<div class="short-user-info">
    <div class="menu-line">
        <hr class="hr-half">
    </div>
    <div class="col-sm-12">
        <div class="short-info col-sm-2">
            <div class="short-info-top">
                <i class="fa-icon-group fa-icon-fixed-width short-info-picture"></i>
                <span class="short-info-bracket">(</span>
                <span id="count-new-appls" class="short-info-count">
					<img id="newappls-loading" src="~/Content/images/UserAccount/loading-white.gif" width="26" height="26">
				</span>
                <span class="short-info-bracket">)</span>
            </div>
            <div class="short-info-bottom"> нові заявки </div>
        </div>
        <div class="short-info col-sm-2">
            <div class="short-info-top">
                <i class="fa-icon-comments-alt fa-icon-fixed-width short-info-picture"></i>
                <span class="short-info-bracket">(</span>
                <span id="count-users-comments" class="short-info-count">
					<img id="users-comments-loading" src="~/Content/images/UserAccount/loading-white.gif" width="26" height="26">
				</span>
                <span class="short-info-bracket">)</span>
            </div>
            <div class="short-info-bottom">коментарів</div>
        </div>
        <div class="short-info col-sm-2">
            <div class="short-info-top">
                <i class="fa-icon-suitcase fa-icon-fixed-width short-info-picture"></i>
                <span class="short-info-bracket">(</span>
                <span id="count-actual-trips" class="short-info-count">
					<img id="actual-trips-loading" src="~/Content/images/UserAccount/loading-white.gif" width="26" height="26">
				</span>
                <span class="short-info-bracket">)</span>
            </div>
            <div class="short-info-bottom">актуальні поїздки</div>
        </div>
        <div class="short-info col-sm-2">
            <div class="short-info-top">
                <i class="fa-icon-ok fa-icon-fixed-width short-info-picture"></i>
                <span class="short-info-bracket">(</span>
                <span id="count-outdated-trips" class="short-info-count">
					<img id="outdated-trips-loading" src="~/Content/images/UserAccount/loading-white.gif" width="26" height="26">
				</span>
                <span class="short-info-bracket">)</span>
            </div>
            <div class="short-info-bottom">минулі поїздки</div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 center">
                <i class="fa-icon-unlock-alt fa-icon-fixed-width user-account-picture"></i>
                <span class="user-name" id="indexTopFirstSurNameSpan">@Model.UserInfo.FirstName @Model.UserInfo.SurName</span>
            </div>
            <br/>
            <br/>
            <div class="col-sm-12 center">
                <i class="fa-icon-user fa-icon-fixed-width user-account-picture"></i>
                <span class="user-name">@Model.UserInfo.Login</span>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="menu-line">
        <hr class="hr-half">
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4 user-bottom-info">
            <i class="fa-icon-envelope-alt fa-icon-fixed-width user-account-picture"></i>
            <span id="indexTopMailSpan">@Model.UserInfo.Mail</span>
        </div>
        <div class="col-sm-4 user-bottom-info">
            <i class="fa-icon-phone fa-icon-fixed-width user-account-picture"></i>
            <span id="indexTopPhoneSpan">@Model.UserInfo.Phone</span>
        </div>
        <div class="col-sm-3 user-bottom-info">
            <i class="fa-icon-calendar fa-icon-fixed-width user-account-picture"></i>
            <span id="indexTopBirthdaySpan">@Model.UserInfo.Birthday.Value.ToString("d")</span>
        </div>
    </div>
</div>
<div class="short-user-info photo-content">
    <div сlass="row panels">
        <div class="col-sm-12">
            <div class="menu-line">
                <hr/>
            </div>
        </div>
    </div>
</div>
<!--end short main information for user-->

<div class="all-content">
<div class="user-page-content">
<!--menu-->
<div class="style-switcher">
	<div class="style-switcher-heading">
		<i class="fa-icon-wrench settings-menu" id="settings-menu"></i>
	</div>
</div>
<div class="style-switcher">
	<div class="style-switcher-heading">
		<i class="fa-icon-group appl-menu" id="appl-menu"></i>
	</div>
</div>
<div class="style-switcher">
	<div class="style-switcher-heading">
		<i class="fa-icon-truck trips-menu" id="trips-menu"></i>
	</div>
</div>
<div class="style-switcher">
	<div class="style-switcher-heading">
		<i class="fa-icon-comments comments-menu" id="comments-menu"></i>
	</div>
</div>
<!--end menu-->
<!--settings content-->
<hr class="text-contrast"/>
<div class="current-active-menu">
	<i class="fa-icon-wrench text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
	<span>Налаштування</span>
</div>
<div class="settings-content hide-content" id="settings-content">
	<br/>
	<div class="container">
		<div class="row panels">
			<div class="col-sm-3 "></div>
			<div class='profile-boxes col-sm-3 '>
				<div class='profile-box'>
					<div id="avatar-upload">
						<a class='image-link'>
							<i class='fa-icon-refresh'></i>
							<img alt="avatar" width="262" height="262" id="user-avatar" class="img-circle img-responsive" src="@Url.Action("UserPhoto", "Layout")"/>
						</a>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row panels">
			<div class="col-sm-3 panel-item" id="name-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-certificate"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Ім'я</h3>
						<p>
							<span id="indexFirstNameSpan">
                                @Model.UserInfo.FirstName
                            </span>
						</p>
					</div>
				</a>
			</div>
			<div class="col-sm-3 panel-item" id="sur-name-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-cog"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Прізвище</h3>
						<p>
							<span id="indexSurNameSpan">
                                @Model.UserInfo.SurName
                            </span>
						</p>
					</div>
				</a>
			</div>
			<div class="col-sm-3 panel-item" id="birthday-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-calendar"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">День народження</h3>
						<p>
							<span id="indexBirthdaySpan">
                                @Model.UserInfo.Birthday.Value.ToString("d")
                            </span>
						</p>
					</div>
				</a>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row panels">
			<div class="col-sm-3 panel-item" id="password-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-user"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Пароль</h3>
						<p>**********</p>
					</div>
				</a>
			</div>
			<div class="col-sm-3 panel-item" id="mail-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-envelope-alt"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Електронна пошта</h3>
						<p>
							<span id="indexMailSpan">
                                @Model.UserInfo.Mail
                            </span>
						</p>
					</div>
				</a>
			</div>
			<div class="col-sm-3 panel-item" id="phone-settings">
				<a class="panel panel-big">
					<div class="panel-icon">
						<i class="fa-icon-phone"></i>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Телефон</h3>
						<p>
							<span id="indexPhoneSpan">
                                @Model.UserInfo.Phone
                            </span>
						</p>
					</div>
				</a>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row panels">
			<div class="row panels">
				<div class="col-sm-9 panel-item" id="about-me-settings">
					<div class="panel panel-big">
						<div class="panel-icon">
							<i class="fa-icon-comment-alt"></i>
						</div>
						<div class="panel-body">
							<h3 class="panel-title">Про мене</h3>
                            <textarea id="indexAboutSpan" class="form-control" readonly="readonly" style="background-color: white; border: none; text-align: center; resize: none;">@Model.UserInfo.AboutMe</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
	</div>
</div>
<!--end settings content-->
<!--comments content-->
<hr class="text-contrast"/>
<div class="current-active-menu">
	<i class="fa-icon-comments-alt text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
	<span>Коментарі</span>
</div>
<div class="hide-content" id="comments-content">
	<hr class="text-contrast"/>
	<ul class="nav nav-tabs tabs">
		<li class="active" id="tab-my-comments">
			<a data-toggle="tab">
				<i class="fa-icon-mail-reply text-contrast"></i>
				Мої
				<span> (</span>
				<span id="tab-count-my-comments"></span>
				<span> )</span>
			</a>
		</li>
		<li id="tab-comments-about-me">
			<a data-toggle="tab">
				<i class="fa-icon-share-alt text-contrast"></i>
				Про мене
				<span> (</span>
				<span id="tab-count-comments-about-me"></span>
				<span> )</span>
			</a>
		</li>
	</ul>
	<br/>
	<br/>
	<div id="comments-region"></div>
</div>
<!--end comments content-->
<!--trips content-->
<hr class="text-contrast"/>
<div class="current-active-menu">
	<i class="fa-icon-truck text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
	<span>Поїздки</span>
</div>
<div class="hide-content" id="trips-content">
	<hr class="text-contrast"/>
	<div class="row text-box text-box-title-above text-box-big-image">
		<ul class="nav nav-tabs tabs">
			<li class="active" id="tab-actual-trips">
				<a data-toggle="tab">
					<i class="fa-icon-suitcase text-contrast"></i>
					Актуальні
					<span> (</span>
					<span id="tab-count-actual-trips"></span>
					<span> )</span>
				</a>
			</li>
			<li id="tab-outdated-trips">
				<a data-toggle="tab">
					<i class="fa-icon-ok text-contrast"></i>
					Минулі
					<span> (</span>
					<span id="tab-count-oudated-trips"></span>
					<span> )</span>
				</a>
			</li>
		</ul>
		<div id="trips-region" class="col-sm-10"></div>
	</div>
</div>
<br/>
<hr class="hr-half">
<!--end trip content-->
<!--application to trips-->
<br/>
<div class="current-active-menu ">
	<i class="fa-icon-group text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
	<span>Нові заявки</span>
</div>
<div class="hide-content" id="appl-content"></div>
<br/>
<hr class="hr-half">
<!--application to trips-->
</div>
<div class="fade" id='scroll-to-top'>
    <i class='fa-icon-chevron-up'></i>
</div>
<br/>
</div>